@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.source-family {
    font-family: "Source Sans 3", sans-serif;
}

.mx-w-1177 {
    max-width: 1177px !important;
}

.mx-w-1138 {
    max-width: 1138px !important;
}

.gap-38 {
    gap: 38px;
}

.max-w-1090 {
    max-width: 1090px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: black;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.rotate42 {
    transform: rotate(42deg);
}

.rotate-43 {
    transform: rotate(-43deg);
}

.z-5 {
    z-index: 5;
}

.bg-img {
    background-image: url(../image/png/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.nav-tags {
    color: var(--color-black);
    transition: all 200ms linear;
}

.nav-tags:hover {
    color: var(--dark-yellow);
}

.mx-w-677 {
    max-width: 677px;
}

.Bring-header-btn {
    border: 2px solid var(--color-white) !important;
    border-radius: 47px;
    padding: 21px 51px 21px 51px;
    background-color: unset !important;
    color: var(--color-white);
}

.Bring-header-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-black);
}

.mt-200 {
    margin-top: 200px;
}

.fs-18 {
    font-size: 18px;
}

/* ------------------------- */
.lh-80 {
    line-height: 80px;
}

.lh-21 {
    line-height: 21px;
}

.lh-61 {
    line-height: 61px;
}

.lh-27 {
    line-height: 27px;
}

.lh-100 {
    line-height: 100.56px;
}

.lh-44 {
    line-height: 44px;
}

.lh-40 {
    line-height: 40.22px;
}

/* ---------------------- */
.pointer-event-none {
    pointer-events: none;
}

.cartoon-img {
    left: 0;
    top: 32%;
}

.lt-0-28 {
    letter-spacing: -0.28px !important;

}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ------------------section-2--------------- */
.submit-btn {
    width: 268px;
    /* padding: 14px 70px 14px 70px; */
    height: 56px;
    border-radius: 47px;
    border: 2px solid var(--color-red);
    background-color: var(--color-white);
    color: var(--color-red);
    transition: all 200ms linear;
}

.submit-btn:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

.mt-134 {
    margin-top: 134px;
}

.mb-128 {
    margin-bottom: 128px;
}

.mx-w-1090 {
    max-width: 1090px;
}

.pl-71 {
    padding-left: 71px;
}

.pl-74 {
    padding-left: 74px;
}

.pl-151 {
    padding-left: 151px;
}

/* ------------------section-3--------------- */
.video-box {
    max-width: 1064px !important;
    width: 100%;
    min-height: 580px;
    border-radius: 25px;
}

.pt-128 {
    padding-top: 128px;
}

.pb-144 {
    padding-bottom: 144px;
}

.pb-64 {
    padding-bottom: 64px;
}

.video {
    max-width: 1064px !important;
    width: 100%;
    min-height: 580px;
    border-radius: 25px;
}

.video-para-box {
    max-width: 372px;
    background: #F3B72C;
    padding: 20px;
    top: 24px;
    left: 29px;
}

.ml-27 {
    margin-left: 27px;
}

/* ------------------section-4--------------- */
.mx-w-277 {
    max-width: 277px;
}

.kickbox {
    max-width: 323px;
    /* height: 457px; */
    border-radius: 28px;
    border: 1px solid #000000;
    padding: 18px 20px 19px 26px;
}

/* -------red-btn------ */
.section-4-start-btn {
    width: 268px;
    height: 56px;
    border: 2px solid #FF132D;
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-red);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.kick-card:hover .section-4-start-btn {
    opacity: 100%;
    pointer-events: visible;
}

.section-4-start-btn:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

/* -------blue-btn------ */

.section-4-start-blue-btn {
    width: 268px;
    height: 56px;
    border: 2px solid var(--color-blue);
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-blue);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.section-4-start-blue-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}


.kick-card:hover .section-4-start-blue-btn {
    opacity: 100%;
    pointer-events: visible;
}

/* -------yellow-btn------ */
.section-4-start-yellow-btn {
    width: 268px;
    height: 56px;
    border: 2px solid var(--color-yellow);
    border-radius: 47px;
    background-color: var(--color-white);
    color: var(--color-yellow);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;
}

.section-4-start-yellow-btn:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.kick-card:hover .section-4-start-yellow-btn {
    opacity: 100%;
    pointer-events: visible;
}

.mt-48 {
    margin-top: 48px;
}

.mt-39 {
    margin-top: 39px;
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .bg-img {
        background-position: right;
    }

    .gap-38 {
        gap: 8px;
    }

    .center {
        text-align: center;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .mt-16 {
        margin-top: 16px;
    }
}

@media (max-width:767.98px) {
    .lh-80 {
        line-height: 60px;
    }

    .mt-200 {
        margin-top: 150px;
    }

}

@media (max-width:575.98px) {
    .lh-80 {
        line-height: 50px;
    }

    .bg-img {
        background-position: right;
    }

    .w-60 {
        width: 60px;
    }

}

@media (max-width:474.98px) {
    .lh-80 {
        line-height: 40px;
    }

    .Bring-header-btn {
        padding: 21px 30px 21px 30px;
    }
}

@media (max-width:1100.98px) {
    .Bring-header-btn {
        z-index: 1;
        position: relative;
    }

    .ml-27 {
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .pl-45 {
        padding-left: 45px !important;
    }
}